

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #596874;
}

.login {
    width: 390px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
    margin: auto;
    margin-top: 10%;
}


.login h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}

