@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: bordex-box;
    text-decoration: none;
    list-style: none;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color :#000000;
    --text-color:#000000;
    --main-color:#ffffff;
}


.container{
    width: 80%;
    margin: 0 auto;
}
header {
    color: var(--main-color);
    background:var(--text-color);
    padding: 2em;
    font-weight: 500;
}
header div{
    display: flex;
    justify-content: space-between ;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}
header ul a{
    color: var(--main-color);
    font-size: 1em ;
}
header ul{
    display: flex;
    align-items: center;
    gap: 2em;
    justify-content: space-around;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}
.logo span{
    color: var(--main-color);
    font-size: 1.7rem;
    font-weight: 600;
}
ul a{
    color: var(--main-color);
    font-size: 1em;
    transition: all .50s ease;
}
ul a:hover{
    color: rgb(169, 160, 160);
    border-bottom: rgb(169, 160, 160) solid 2px;
}
#menu-icon{
    font-size: 35px;
    color: var(--main-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
    }
}
@media (max-width: 1090px){
    #menu-icon{
         display: block;
    }
    .navbar{
        position: absolute;
        top: 9%;
        right: -100%;
        width: 100%;
        background: var(--main-color);
        
        display: none;
        
        transition: all 2s ease-in-out;
        
    }
    .navbar a {
        display: block;
        color: #000000;
        margin: 12px 0;
        padding: 0px 25px;
    }
    .navbar a:hover{
        color:var(--text-color);
        transform: translateY(5px);
    }
    .navbar a.active{
        color:var(--text-color);
    }
    .navbar.open{
        
        right: 2%;
        display: flex;
        
        flex-direction: column;
        justify-content: flex-start;
    }
    .navbar a:hover{
        color:var(--text-color);
        transform: translateY(5px);
    }
    .navbar a.active{
        color:var(--text-color);
    }
}
dl, ol, ul {
    margin-top: 1;
    margin-bottom: 0;
}


a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}